input
    width: 100%
    height: 100%
#appContainer
    background: #1111
    height: 100vh
    width: 100%
    .container
        height: 100%
        width: 100%
        display: flex
        align-items: center
        justify-content: center
        form
            width: 400px
            border: 1px solid #111
            padding: 2rem .9rem
            .inputGroup
                display: flex
                input
                    height: 33px